.projects-container {
    width: 100%;
    min-height: 100vh;
    max-height: 500vh;
    background-color: white;
}


.projects-container-title {
    margin-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Nunito Sans;
    font-weight: 800;
}

.project-format {
    width: 100%;
    display: flex;
    /* overflow-x: scroll; */
    /* flex-wrap: nowrap;  */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.project-section {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    margin-right: 50px;
    margin-left: 50px;
}



/* .project-wrapper {
    width: 50vw;
} */
@media (max-width: 580px) {

    .project-format { 
        flex-wrap: wrap;
    }

    .project-section {
        width: 100% !important;
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 25px;
        margin-right: 50px;
        margin-left: 50px;
    }

    .project-item {
        max-width: 350px !important;
        min-width: 350px !important;
        width: 350px !important;
        align-content: center;
        align-items: center;
        background-color: #e7e7e7;
        border-color: #e7e7e7;
        border-style: solid;
        border-width: 1px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        inline-size: block;
        margin-top: 50px;
    }
}


@media (max-width: 375px) {

    .project-format { 
        flex-wrap: wrap;
    }

    .project-section {
        width: 100% !important;
        flex-basis: 100%;
    }

    .project-item {
        max-width:560px !important;
        min-width: 560px !important;
        align-content: center;
        align-items: center;
        background-color: #e7e7e7;
        border-color: #e7e7e7;
        border-style: solid;
        border-width: 1px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        inline-size: block;
        margin-top: 50px;
    }
}
.project-item {
    height: 600px;
    max-height: 900px;
    min-width: 700px;
    max-width: 700px;
    width: 100vw;
    background-color: #e7e7e7;
    border-color: #e7e7e7;
    border-style: solid;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    inline-size: block;
    margin-top: 50px;
}
.project-title {
    margin-top: 20px;
    font-family: Nunito Sans;
    display: flex;
    text-align: center;
} 

.project-description {
    padding-left: 50px;
    padding-right: 50px;
    text-wrap: wrap;
    font-family: Nunito Sans;

}

.project-player {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
}