.header-text {
    font-size: 50px;
    width: 100%;
}

.body-text {
    font-size: 18px;
    width: 100%;
    text-overflow: clip;

}

.emmet-pfp {
    margin-left: 5vw;
}

/* Hide profile picture and adjust text on mobile views */
@media (max-width: 768px) {
    .emmet-pfp {
        display: none;
    }

    .text-container {
        text-align: center;
    }

    .text-container > div {
        margin: 0 auto;
    }

    div {
        min-width: none;
    }
}
