.contact-scene {
    background-color: #E7E7E7;
    min-height: 60vh;
    max-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-section {
    background-color: white;
    width: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 5px;
}

.title {
    padding-top: 25px;
    text-align: center;
    font-family: Nunito Sans;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-field {
    width: 305px !important;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    font-family: Nunito Sans;
}

.resizeable {
    max-height: 300px !important;
    min-height: 175px !important;
    resize: none;
    overflow-y: auto; 
}
