.link {
    color: white !important;
    font-weight: 500;
}

.custom-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.custom-navbar .navbar-collapse {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.custom-navbar .nav {
  display: flex !important; /* Ensure flex display */
  flex-direction: row; /* Align items horizontally */
  align-items: center;
}

.custom-navbar .nav-item {
  margin-left: 15px;
}


@media (max-width: 767px) {
  .navbar-expand-md .navbar-toggler {
    display: block;
  }

  .navbar-expand-md .navbar-collapse {
    display: none !important;
  }

  .navbar-expand-md .navbar-collapse.show {
    display: block !important;
  }

  .ms-auto {
    margin-left: auto !important;
  }
}