.header-text {
    font-size: 50px;
    width: 100%;
}

.body-text {
    font-size: 18px;
    width: 100%;
    text-overflow: clip;

}

.icons {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row; /* Explicitly set the flex direction to row */
    align-items: center; /* Align items vertically centered */
    justify-content: center; /* Align items horizontally centered */
}

.icon {
    max-width: 50px;
    max-height: 50px;
}


.description {
    height: 200px;
    width: 300px;
    font-size: 12px;    
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
}

.grid-container > * {
    flex-basis: 25%;
    box-sizing: border-box;
}